@import './colors.scss';

.calamari-text {
  color: $purple-color-2;
}
.bg-gray {
  background-color: $gray-color-2;
}
.bg-red {
  background-color: $red-color-2;
}
.bg-oriange{
  background: $oriange-bg;
}
